@model Project.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <br>
    <dl class="flex flex-row text-center items-center w-full">
        <div class="flex flex-row">
            <div class="w-1/2">
                <img class="m-3" width="80%" src="~/books/@Model.BookCover" alt="A cover image of @Model.Title">
            </div>
            <div class="m-3 flex flex-col">
                <dd class="text-5xl font-bold" style="font-family: 'Californian FB'; ">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <div class="m-1">
                    <a class="text-blue-400" href="~/books/@Model.FileName">DOWNLOAD</a>
                </div>
                <div class="text-left">
                    <dd class="col-sm-10">
                        <b>Summary :</b> 
                        <span class="text-center">@Html.DisplayFor(model => model.Summary)</span>
                    </dd>
                    <dd class="col-sm-10">
                        <b>Format :</b>
                        @Html.DisplayFor(model => model.Format)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Language :</b>
                        @Html.DisplayFor(model => model.Language)
                    </dd>
                    <dd class="col-sm-10">
                        <b>FileName :</b>
                        @Html.DisplayFor(model => model.FileName)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Author :</b>
                        @Html.DisplayFor(model => model.BookAuthor.FullName)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Genre :</b>
                        @Html.DisplayFor(model => model.Genre)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Price :</b>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Number of Pages :</b>
                        @Html.DisplayFor(model => model.NumberOfPages)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Publisher :</b>
                        @Html.DisplayFor(model => model.BookPublisher.Id)
                    </dd>
                    <dd class="col-sm-10">
                        <b>Publishing Date :</b>
                        @Html.DisplayFor(model => model.DatePublished)
                    </dd>
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ISBN">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
